<!DOCTYPE html>
<html>
  <head>
    <title>Knox Presentation</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Knox Presentation</h1>
    <p>Knox: Deploy apps from GitHub to Azure with Centralized App Configuration and Security</p>
  </body>
</html>
